In [1]:
# Import Libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics 
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("salaries.csv")
data.head()

  company                  job      degree  salary_more_then_100k
0  google        sale exective  bachelaors                      0
1  google        sale exective     masters                      0
2  google     business manager  bachelaors                      1
3  google     business manager     masters                      1
4  google  computer programmer  bachelaors                      0

In [3]:
# Import label encoder 
from sklearn import preprocessing
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 
data['company']= label_encoder.fit_transform(data['company'])
data['job']= label_encoder.fit_transform(data['job'])
data['degree']= label_encoder.fit_transform(data['degree'])
data.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [7]:
#Split the dataset in features and target variable
feature_cols = ['company','job','degree']
X = data[feature_cols]
y = data['salary_more_then_100k']
# X = data.values[1:,:3]
# y = data.values[1:,3] # 1:,3 one means we are not using the header
print(X[:5])
print(y[:5])

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0
0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [52]:
# Split data into 80/20
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=50)

#### Create Decision Tree
- 2 ways to use it: gini and Entropy.
- Gini = measure of how often a randomly chosen element from the dataset would be incorrectly classified.
- Entropy = Measure of uncertainty or randomness in data.
    - Lower Entropy / Gini indicates less uncertainty and a purer dataset.
    - Higher Entropy / Gini indicates more uncertainty and more mixed classes.
- `max_dept` refers to 
    - If 2: root node (level 0), one split (level 1), and two leaves (level 2).
    - if 3: root node (level 0), one split (level 1), two split (level 2), 3 leaves (level 3).

In [65]:
# Define structure of tree and how it will be trained
# Create Decision Tree classifier object using entropy
clf_entropy = DecisionTreeClassifier(criterion="entropy", max_depth=2)

# Train Decision Tree Classifier
clf_entropy = clf_entropy.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf_entropy.predict(X_test)


print("Accuracy of Entropy:", metrics.accuracy_score(y_test,y_pred))

Accuracy of Entropy: 0.75

In [ ]:
# Creating the classifier object using gini index
clf_gini = DecisionTreeClassifier(criterion = "gini",random_state = 50,max_depth=2, min_samples_leaf=3)

# Performing training
clf_gini.fit(X_train, y_train)

y_pred = clf_gini.predict(X_test)


print("Accuracy of Gini:", metrics.accuracy_score(y_test,y_pred))

Accuracy of gini: 0.75